

.cart-div{
    position: sticky;
    top: 0;
}


.random-chooser button{
    margin: auto;
    height: 50px;
    width: 90%;
    outline: none;
    border: none;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}


 /* working on modal  */
.modal-parent{
    background: rgba(0, 0, 0, 0.575);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    pointer-events: none;
}
.modal-parent.active{
    display: flex;
    pointer-events: auto;
}
.modal{
    background: white;
    width: 80%;
    padding: 15px 15px;
    border-radius: 5px;
    position: relative;
}


/* -------------------------------- Work on modal ---------------------- */
.cross-icon{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    color: darkred;
    cursor: pointer;
}
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal button{
    height: 50px;
    width: 340px;
    outline: none;
    border: none;
    border-radius: 50px;
    background: gold;
    color: black;
    font-size: 22px;
    cursor: pointer;
    margin: 20px 0;
    font-weight: 600;
}
.modal-body{
    border: 5px solid darkslateblue;
    margin: 20px 20px 10px;
    padding: 15px;
    border-radius: 5px;
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.modal-body h2{
    margin-bottom: 0;
}
.modal-body h3{
    color:crimson;
    font-size: 25px;
    margin: 15px ;
}
.modal-body img{
    width: 286px;
}


@media only screen and (max-width:680px){
    .modal{
        padding: 50px 20px;
    }
    .modal button{
        width: 90%;
    }
    .modal-body{
        margin: 10px;
        width: 90%;
    }
    .modal-body img{
        width: 100%;
    }
}