




.cart-card{
    display: flex;
    justify-content: space-between;
    border: 3px solid darkblue;
    margin-top: 15px;
    margin-right: 20px;
    border-radius: 5px;
    padding: 0 15px;
}
.cart-left{
    display: flex;
    justify-content: center;
    align-items: center;
}


.cart-details{
    margin-left: 15px;
}
.cart-details p{
    font-weight: 600;
}
.cart-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}
.cart-right span{
    display: block;
}

.cart-img img{
    width: 60px;
}