

.header-divs{
    background-color: #2A2A2A;
}
.header-div{
    background-color: #2A2A2A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    width: 80%;
    margin: auto;
}

.left-side{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-side span, .left-side h2{
    color: white;
}
.left-side span{
    margin-right:20px ;
    display: block;
    border: 3px solid tomato;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    color: white;
}

.right-side a{
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-weight: 600;
    font-size: 18px;
}
.right-side a:hover{
    color: orangered;
}